/* body setting */
body{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}

/* /body setting */

/* background color and image */
header{
    background-color: rgba(0, 128, 255, 0.741);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size:cover;
    background-position:;
}

.container-header{
    width: 200px;
    padding-top: 20px;
   
}
