/* body setting */
body{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    max-width: 100%;
}

/* /body setting */

/* background color and image */
header{
    background-color: rgba(0, 128, 255, 0.741);
    background-image: url(../img/pattern.png);
    background-size:contain;
    background-repeat: repeat;
    
}

.container-header{
    width: 200px;
    padding-top: 20px;
   padding-bottom: 10px;
}
